@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Forecast

@{
    ViewDataDictionary viewData = new ViewDataDictionary(
        new EmptyModelMetadataProvider(),
        new ModelStateDictionary()) { { "Address", Model.Address } };
}

<div class="row row-cols-5 g-3">
    @foreach (Day day in Model.Days)
    {
        <div class="col">
            @Html.Partial("~/Views/Shared/_Day.cshtml", day, viewData)
        </div>
    }  
</div>