@using Microsoft.AspNetCore.Mvc.ModelBinding
@model List<Forecast>

<div class="row row-cols-3 g-3">
    @foreach (Forecast f in Model)
    {
        ViewDataDictionary viewData = new ViewDataDictionary(
        new EmptyModelMetadataProvider(),
        new ModelStateDictionary()) { { "Address", f.Address } };

        <a asp-action="City" asp-route-cityName="@f.Address" class="text-decoration-none">
            <div class="col">
                @Html.Partial("~/Views/Shared/_Day.cshtml", f.Days[0], viewData)
            </div>
        </a>
    }
</div>
