@using BlogApp.Models
@model Article

<div>
    @Model.Title
</div>
<div>
    @Model.Text
</div>
<form method="post" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">
    <input type="submit" value="Delete Post"/>
</form>