@using BlogApp.Models
@model Article

<div>
    @Model.Title
</div>
<div>
    @Model.Text
</div>
@if (this.ViewBag.UserIsAuthor)
{
    <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <form method="post" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" />
    </form>
}