@using BlogApp.Models
@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (Article article in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Article" asp-route-articleId="@article.Id">@article.Title</a>
                <div>By:&nbsp;@article.ApplicationUser.Name</div>
            </li>
        }
    </ul>
</div>
