@using BlogApp.Models
@model List<Article>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (Article article in Model.OrderBy(a => a.Id))
        {
            <li>
                <a asp-controller="Home" asp-action="Article" asp-route-articleId="@article.Id">@article.Title</a>
                <div>By:&nbsp;</div>
            </li>
        }
    </ul>
</div>
