@using BlogApp.Models.Models;
@using Markdig
@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Sample Blogging Site</h1>
<div class="align-content-lg-start">
    <ul class="row list-unstyled">
        @foreach (Article article in Model)
        {
            <li class="col-md-4">
                <a class="link-light text-decoration-none" asp-controller="Home" asp-action="Article" asp-route-articleId="@article.Id">
                    <h3>@(article.Title.Length > 30 ? $"{article.Title[..30]}..." : article.Title)</h3>
                </a>
                <div>By:&nbsp;@article.ApplicationUser.Name</div>
                <p>@(article.Text.Length > 150 ? $"{article.Text[..150].Replace("#", "")}..." : article.Text.Replace("#", ""))</p>
            </li>
        }
    </ul>
</div>
